nav {
    display:flex;
    justify-content: space-evenly;
}

a {
    color: black;
    padding: 35px;
}

body {
    background-color: antiquewhite;
    text-align: center;
}

text {
    font-size: 50px;
    color:blueviolet
}

img {
    padding: 100px;
    clip-path: inset(0 0 107px 0);
}

body {
    font-family: 'Merienda', sans-serif;
}

a {
    text-decoration: none; 
    color: black; 
    font-size: 1rem;
    transition: color 0.3s ease;
}


a:hover {
    color: rgb(13, 0, 255); 
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    margin: 20px;
}

nav a {
    display: inline-block; 
    margin-right: 15px; 
    font-size: 1.5rem; 
    color: #ccc; 
    transition: color 0.3s ease, text-shadow 0.3s ease; 
}

nav a:hover {
    color: #ba0000; 
    text-shadow: 0 0 5px #ff0000; 
}

body {
    font-family: Merienda;
    color: #920303cb; 
    margin: 0;
    padding: 20px;
}

body {
    font-family: Merienda;
    margin: 0;
    padding: 20px;
}

.color-fade {
    color: black; 
    animation: colorFade 2.5s ease-in forwards;
}


@keyframes colorFade {
    from {
        color: black; 
    }
    to {
        color: rgb(159, 0, 0); 
    }
}