body {
    background-color: black;
    transform: rotate(90deg);
}

a {
    pointer-events: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

img {
    opacity: 25%;
    width: 100%;
    height: 100%;
}